.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  height: 100vh;
  box-sizing: border-box;
}

.navigation-container {
  position: relative;
  width: 400px;
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;

  ul {
    display: flex;
    list-style: none;
    width: 400px;
    li {
      position: relative;
      width: 70px;
      height: 60px;
      z-index: 2;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        .icon {
          color: #222327;
          position: relative;
          display: block;
          text-align: center;
          line-height: 62px;
          width: 55px;
          height: 55px;
          border-radius: 50%;
          font-size: 1.5em;
          transition: 0.3s;
          transition-delay: 0s;

          &::before {
            content: "";
            position: absolute;
            top: 10px;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--icon-color);
            border-radius: 50%;
            filter: blur(5px);
            opacity: 0;
          }
        }
      }
    }
  }
  li.active a .icon {
    background: var(--icon-color);
    color: #fff;
    transform: translateY(-27px);
    transition-delay: 0.25s;

    &::before {
      // opacity: 0.5;
      transition: 0.5s;
      transition-delay: 0.25s;
    }
  }

  .indicator {
    position: absolute;
    top: -35px;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    z-index: 1;
    transition: 0.5s;
    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: -27.5px;
      width: 30px;
      height: 30px;
      background: transparent;
      border-radius: 50%;
      box-shadow: 15px 18px #fff;
    }
    &::after {
      content: "";
      position: absolute;
      top: 5px;
      right: -27.5px;
      width: 30px;
      height: 30px;
      background: transparent;
      border-radius: 50%;
      box-shadow: -15px 18px #fff;
    }
  }

  ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
  }
  ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
  }
  ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
  }
  ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
  }
  ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
  }
}
