#root {
  --color1: #12c2e9;
  --color2: #c471ed;
  --color3: #f64f59;
}

.wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
}
.circle {
  width: 30vw;
}
.progressInput {
  width: 30vw;
  margin-top: 30px;
  height: 7px;
  -webkit-appearance: none;
  background-image: linear-gradient(
    to right,
    var(--color1),
    var(--color2),
    var(--color3)
  );
}
/* 
.progressInput::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background-image: linear-gradient(
    to right,
    var(--color1),
    var(--color2),
    var(--color3)
  );
} */

.progressInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 1px 1px 4px 3px rgba(85, 85, 85, 0.2);
  cursor: grabbing;
}

.circle-background {
  fill: none;
  stroke: #ddd;
}
.circle-progress {
  fill: none;
}

.circle-text {
  font-size: 2em;
  fill: var(--color1);
}
